.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
build/classes/main/ee/ttu/idu1550/h3/CartesianPoint.class
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__asm_all_4_1.xml
.idea/libraries/Gradle__cofoja_1_1_r150.xml
.idea/libraries/Gradle__hamcrest_core_1_3.xml
.idea/libraries/Gradle__junit_4_11.xml
.idea/misc.xml
build/classes/main/ee/ttu/idu1550/h3/Point.class
build/classes/main/ee/ttu/idu1550/h3/PolarPoint.class
build/classes/main/ee/ttu/idu1550/h3/Route.class
build/classes/test/ee/idu1550/h2/RouteTests.class
.gradle/2.7/taskArtifacts/cache.properties
.gradle/2.7/taskArtifacts/cache.properties.lock
.gradle/2.7/taskArtifacts/fileHashes.bin
.gradle/2.7/taskArtifacts/fileSnapshots.bin
.gradle/2.7/taskArtifacts/outputFileStates.bin
.gradle/2.7/taskArtifacts/taskArtifacts.bin
.idea/modules.xml
.idea/scopes/scope_settings.xml
h2.iml
h2.ipr
h2.iws
build/classes/main/ee/ttu/idu1550/h3/PointFactory.class
