.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
build/classes/main/ee/ttu/idu1550/h3/CartesianPoint.class
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__asm_all_4_1.xml
.idea/libraries/Gradle__cofoja_1_1_r150.xml
.idea/libraries/Gradle__hamcrest_core_1_3.xml
.idea/libraries/Gradle__junit_4_11.xml
.idea/misc.xml
build/classes/main/ee/ttu/idu1550/h3/Point.class
build/classes/main/ee/ttu/idu1550/h3/PolarPoint.class
build/classes/main/ee/ttu/idu1550/h3/Route.class
build/classes/test/ee/idu1550/h2/RouteTests.class
.gradle/2.7/taskArtifacts/cache.properties
.gradle/2.7/taskArtifacts/cache.properties.lock
.gradle/2.7/taskArtifacts/fileHashes.bin
.gradle/2.7/taskArtifacts/fileSnapshots.bin
.gradle/2.7/taskArtifacts/outputFileStates.bin
.gradle/2.7/taskArtifacts/taskArtifacts.bin
.idea/modules.xml
.idea/scopes/scope_settings.xml
h2.iml
h2.ipr
h2.iws
build/classes/main/ee/ttu/idu1550/h3/PointFactory.class
.gradle/2.6/taskArtifacts/cache.properties
.gradle/2.6/taskArtifacts/cache.properties.lock
.gradle/2.6/taskArtifacts/fileHashes.bin
.gradle/2.6/taskArtifacts/fileSnapshots.bin
.gradle/2.6/taskArtifacts/outputFileStates.bin
.gradle/2.6/taskArtifacts/taskArtifacts.bin
.idea/libraries/Gradle__com_google_java_contract_cofoja_1_1_r150.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_ow2_asm_asm_all_4_1.xml
build/classes/main/ee/ttu/idu1550/h3/CartesianPoint.contracts
build/classes/main/ee/ttu/idu1550/h3/Point$com$google$java$contract$H.class
build/classes/main/ee/ttu/idu1550/h3/Point.contracts
build/classes/main/ee/ttu/idu1550/h3/PointFactory.contracts
build/classes/main/ee/ttu/idu1550/h3/PolarPoint.contracts
build/classes/main/ee/ttu/idu1550/h3/Route.contracts
build/libs/h2-1.0-SNAPSHOT.jar
build/reports/tests/classes/ee.idu1550.h2.RouteTests.html
build/reports/tests/css/base-style.css
build/reports/tests/css/style.css
build/reports/tests/index.html
build/reports/tests/js/report.js
build/reports/tests/packages/ee.idu1550.h2.html
build/test-results/TEST-ee.idu1550.h2.RouteTests.xml
build/test-results/binary/test/output.bin
build/test-results/binary/test/output.bin.idx
build/test-results/binary/test/results.bin
build/tmp/jar/MANIFEST.MF
